body{
  background-color: black;
  top: 0;
}

.iiif-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  cursor: grab;
  overflow: hidden;
  position: absolute;
  background-color: blue;
  z-index: 100;
}

.iiif-container:active {
  cursor: grabbing;
}

.page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.controls-container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: clamp(12rem, 18vw, 14rem);
  height: clamp(2rem, 5dvh, 2.5rem);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  cursor: default;
  z-index: 1000;
}